.tvs{
  background-color: var(--rg-black);
  color:var(--rg-white);
}
.tvs-container{
  position: relative;
}
.tvs-header{
  position:absolute;
  top:1rem;
  left:0;
  width: 100%;
  padding:0 1rem;
  box-sizing:border-box;
  font-family: 'Erbaum', sans-serif;
  z-index: 300;
}
.tvs-header .content{
  background-color: var(--rg-black);
  border:3px solid var(--rg-blue);
  border-radius: 5px;
  padding: 5px 1rem;
  width: fit-content;
  display: flex;
  flex-flow: row;
  gap: 1rem;
  align-items: center;
  margin:0 auto;
}
.tvs-header h2, .tvs-header p{
  margin:0;
}
.tvs-header h2{
  text-transform: uppercase;
  font-size:clamp(1.5rem, 3.2vw, 2.3rem);
}
.tvs-header p{
  text-transform: uppercase;
  font-size:clamp(1.1rem, 1.5vw, 1.8rem);
  color: var(--rg-blue);
}
.tvs-vehicle-container{
  position:relative;
  padding-top: 10svh;
  z-index: 1;
  overflow: hidden;
}
.tvs-vehicle-container .underlay{
  position: absolute;
  background-color:var(--rg-black);
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.tvs-vehicle-container .underlay img:not(.ov-glow){
  display: block;
  mix-blend-mode: lighten;
  opacity:0.3;
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position:top center;  
}
.tvs-vehicle-container .underlay img.ov-glow{
  display: block;
  position: absolute;
  top:0;
  left:0;
  filter: blur(3px);
  mix-blend-mode:plus-lighter;
  width:100%;
  height:100%;
  object-fit: cover;
  object-position:top center;
  animation: flicker 5s infinite ;
}
@keyframes flicker {
	0% {opacity: 0.8}
	5% {opacity: 0.4}
	10% {opacity: 0.5}
	15% {opacity: 0.65}
	25% {opacity: 0.4}
	30% {opacity: 0.8}
	35% {opacity: 0.1}
	40% {opacity: 0.25}
	45% {opacity: 0.4}
	60% {opacity: 0.8}
	70% {opacity: 0.65}
	80% {opacity: 0.3}
	90% {opacity: 0.5}
	100% {opacity: 0.8}
}
.tvs-vehicle-container .overlay{
  position: relative;
  z-index: 20;
  max-width: 1400px;
  margin:0 auto;
}
.tvs-vehicle-container .overlay .tvs-overlay-vehicle{
  position:relative;
  width:fit-content;
  margin: 0 auto;
}
.tvs-vehicle-container .overlay .tvs-overlay-vehicle img{
  display: block;
  width: 100%;
  max-height:55svh;
  object-fit: contain;
  filter: drop-shadow(13px 17px 18px rgba(0,0,0,0.5));
}
.tvs-vehicle-container .overlay .tvs-overlay-vehicle .tvs-overlay-markers{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.tvs-vehicle-container .overlay .tvs-overlay-vehicle .tvs-overlay-markers .tvs-marker{
  position:absolute;
  font-size: clamp(1.4rem,2vw,2rem);
  transform:translate(-50%,-50%);
  background-color: #00b5f777;
  border: 2px solid #00b7f788;
  padding: 20px;
  border-radius: 50%;
  aspect-ratio:1/1;
  display: flex;
  line-height: 0.75;
  cursor: pointer;
}
.tvs-vehicle-container .overlay .tvs-overlay-vehicle .tvs-overlay-markers .tvs-marker.active{

  background-color: #f6511d77;
  border: 2px solid #f6511d88;
}
.tvs-selector-container{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  margin-top:-2rem;
  padding-bottom: 5svh;
  z-index: 40;
}
.tvs-selector-container .tvs-product{
  background-color: white;
  border: 4px solid var(--rg-orange);
  border-left:none;
  border-radius:0 20px 20px 0;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  padding: 1rem;
}
.tvs-product .product-content{
  color: var(--rg-black);
  text-decoration: none;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.tvs-product .product-content.active{
  display: flex;
}
.tvs-product .product-content *{
  margin:0;
}
.tvs-product .product-content .product-title{
  color: var(--rg-orange);
  font-weight:800;
  font-family:'Erbaum', sans-serif;
  font-size:1.75rem;
  line-height: 1.5;
  text-transform: uppercase;
  border-bottom: 2px solid var(--rg-black);
}
.tvs-product .product-content .subtitle{
  color: var(--rg-black);
  font-weight:400;
  font-family:'Erbaum', sans-serif;
  font-size:1.25rem;
  line-height: 1.5;
  text-transform: uppercase;
  border-bottom: 2px solid var(--rg-black);
}
.tvs-product .product-content .price{
  color:var(--rg-black);
  line-height: 1.5;
  font-weight:lighter;
  font-size:1.2rem;
}
.tvs-selector-container .tvs-product img{
  width: 70%;
  margin: 0 auto;
  object-fit: contain;
  aspect-ratio: 4/2;
  height: 100px;
}
.tvs-selector{
  visibility: visible !important;
  background:#231f20;
  border-top: 4px solid var(--rg-orange);
  border-bottom: 4px solid var(--rg-orange);
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  gap: 1rem;
  position: relative;
  z-index:0;
  overflow: hidden;
}
.tvs-selector::after{
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-image:url("media/grain.gif");
  background-size:inherit;
  z-index: 10;
  mix-blend-mode: overlay;
  opacity: 0.5;
  pointer-events: none;
}
.tvs-selector img{
  position: relative;
  height: 120px;
  padding: 0 20px;
  aspect-ratio: 3/2;
  object-fit: contain;
  display: block;
  z-index:20;
  filter: contrast(0) brightness(110%);
  cursor:pointer;
  transition: all 250ms;
}
.tvs-selector img:hover{
  filter: contrast(0) brightness(190%);
}
.tvs-selector img.active{
  filter: contrast(0) brightness(200%) drop-shadow(0px 0px 15px var(--rg-orange));
}
.tvs-selector .splide__track{
  position: relative;
  z-index:20;
}